<div class="jumbotron">
    <h1>Kushak E-Commerce API</h1>
    <p class="lead">
        E-Commerce API project Created and Developed By
        <a href="https://www.linkedin.com/in/farouk4web/">Farouk Abdelhamid</a>
        Using Asp.net web API 2 &amp; Entity Framework CodeFirst
    </p>
    <p>
        <a href="https://github.com/farouk4web/" class="btn btn-primary btn-lg">
            Take A look on Github &raquo;
        </a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Using Website</h2>
        <p>
            Yoou Can Download and Use This Api for education Use Onlay, if You Want to use it in Commerical Use you need to Contact with me.
        </p>
        <p>
            <a class="btn btn-info" href="https://www.linkedin.com/in/farouk4web/">
                LinkedIn &raquo;
            </a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>No libraries</h2>
        <p>
            No libraries, in Fact it was a Challange with my self to Understand How Asp.net web api working.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You Can Easily use ths apis and send your requests cause its in host but its free host maybee any time you find it out of service</p>
        <p>
            <a class="btn btn-success" href="#">Api Link &raquo;</a>
        </p>
    </div>
</div>
